.header {
  display: flex;
  column-gap: rem(20);
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-block: rem(26);
  padding-inline: rem(32);

  &__logo {
    @media (max-width: 360px) {
      width: rem(100);
    }
  }

  &__nav {
    @media (max-width: 1024px) {
      flex-basis: 100%;
      order: 1;
    }
  }

  @media (max-width: 1024px) {
    padding-block: rem(20);
    padding-inline: rem(15);
    row-gap: rem(20);
  }

  @media (max-width: 767px) {
    padding-block-start: rem(10);
  }
}
