.button {
  display: inline-flex;
  border-radius: var(--border-radius);
  font-weight: 700;
  line-height: 200%;
  white-space: nowrap;
  text-transform: uppercase;

  &:active {
    transform: translateY(4px);
  }
}
